/* UsersList.css */

.container {
    /* Estilos para o container */
  }
  
  .mt-12 {
    /* Estilos para o título */
  }
  
  /* Estilos para a tabela */
  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos para cabeçalho da tabela */
  thead {
    background-color: #f2f2f2;
  }
  
  /* Estilos para células da tabela */
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Outros estilos conforme necessário */
  