@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', system-ui, sans-serif;
}

.color-primary {
    color: var(--primary) !important;
}

.bgcolor-primary {
    background-color: var(--primary) !important;
}

.color-c-1 {
    color: var(--c-1) !important;
}

.bgcolor-c-1 {
    background-color: var(--c-1) !important;
}

.color-c-5 {
    color: var(--c-5) !important;
}

.bgcolor-c-5 {
    background-color: var(--c-5) !important;
}

th {
    color: var(--c-5) !important;
    background-color: var(--c-1) !important;
    justify-content: center;
}

td {
    color: var(--c-5) !important;
    background-color: var(--c-1) !important;
    justify-content: center;
}

.printDiv {
    /* display: flex!important; */
    text-align: center;
    display: none;
    /* background-color: var(--primary); */
    padding: 8px;
    color: #e6e6f0;
    align-items: center;
    padding-left: 1rem;
    width: 100%;
}

.printDiv h1 {
    padding: 1rem;
}

#top-bar {
    outline-color: var(--c-5);
}

@media print {
    @page {
        size: landscape;
        margin: 0;
    }

    body {
        background-color: var(--primary) !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        /* padding: 0!important;
        margin: 0!important; */
    }

    #printDiv {
        display: flex !important;
        text-align: center;
        /* display: none; */
        /* background-color: var(--primary); */
        background-color: #85562e;
        padding: 8px;
        color: #e6e6f0;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    #printDiv h1 {
        padding: 1rem;
    }

    main .barra_de_nav {
        display: none;
    }

    #top-bar {
        display: none !important;
    }

    #buttonListEmployee {
        display: none !important;

    }

    .mt-3 {
        margin-top: 0;
    }

    .p-10 {
        padding: 0;
    }

    body {
        font-size: 5.5pt;
    }

    #tableDiv {
        background-color: var(--primary) !important;
        /* padding: auto!important; */
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    table {
        display: block;
        page-break-inside: auto;
        width: auto !important;
        border-collapse: collapse;
        border-spacing: 0;
        padding: 0;

    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }
}